.container {
  margin: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

form {
  margin-top: 10px;
}

button {
  margin-top: 5px;
}

